html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.kontainer{
	background-color: #696969;
}
.bagianatas{
	padding-bottom: 7px; 
	margin-left: auto;
	margin-right: auto;
}
.bagianatas .logo, .button{
	display: inline-block;
}
a{
	text-decoration: none;
}
.logo a img{
	padding-top: 10px; 
}
.logo a p{
	margin-top: 20px;
	margin-left: 150px;
	float: left;
}
.button .home a{
	color: black;
	opacity: 0.7;
}
.logo a, .homes a{
	color: white;
}
ul{
	list-style-type: none;
}
.homes p{
	padding: 15px;
	background-color: #1E90FF;
}
.homes p:hover{
	padding: 15px;
	background-color: #1E90FF;
	opacity: 0.8;
}
.homes:hover{
	opacity: 0.8;
}
.button{
	margin-top: 5px;
	margin-left: 500px;
	position: fixed;
}
.button ul li{
	display: inline-block;
	padding-left: 30px;
}